.concept {
  padding: 5em;
  height: 70vh;
  overflow: hidden;
  scroll-snap-align: center;
}

.top-header-image {
  background: url("sources/Webseite-Header_1366\ x\ 768.jpg") top center;
  display: flex;
}

h1 {
  letter-spacing: 20px;
  position: relative;

  color: black;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
