.concept {
  padding: 5em;
  height: 70vh;
  overflow: hidden;
  scroll-snap-align: center;
}

.top-header-image {
  background: url("sources/Header\ kleiner\ 990\ x\ 640\ px.jpg") top center;
  display: flex;
  max-height: 640px;
}

h1 {
  letter-spacing: 20px;
  position: relative;

  color: black;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .top-header-image {
    max-width: 98%;
    max-height: 50%;
  }
}
